@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #263238 !important;
}
.bg-success {
  background-color: #263238 !important;
}
.bg-info {
  background-color: #263238 !important;
}
.bg-warning {
  background-color: #263238 !important;
}
.bg-danger {
  background-color: #263238 !important;
}
.btn-primary {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-secondary {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-info {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-success {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-warning {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-danger {
  background-color: #263238;
  border-color: #263238;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #07090a;
  border-color: #07090a;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #07090a !important;
  border-color: #07090a !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-success-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #263238;
  border-color: #263238;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.text-primary {
  color: #263238 !important;
}
.text-success {
  color: #263238 !important;
}
.text-info {
  color: #263238 !important;
}
.text-warning {
  color: #263238 !important;
}
.text-danger {
  color: #263238 !important;
}
.alert-success {
  background-color: #263238;
}
.alert-info {
  background-color: #263238;
}
.alert-warning {
  background-color: #263238;
}
.alert-danger {
  background-color: #263238;
}
.btn-social {
  border-color: #263238;
}
.btn-social:hover {
  background: #263238;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #263238;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #263238;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #263238;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #263238;
}
.lead a,
.lead a:hover {
  color: #263238;
}
.lead blockquote {
  border-color: #263238;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #90a8b4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #90a8b4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #90a8b4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #90a8b4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #90a8b4;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #263238;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#msg-box3-x .mbr-section-title,
#msg-box3-x p {
  color: #000;
}
#msg-box3-x .mbr-section-title {
  color: #ffffff;
}
#msg-box3-x .lead P {
  color: #ffffff;
}
#msg-box3-x .btn {
  font-size: 13px;
}
#header3-10 .mbr-section-title,
#header3-10 .mbr-section-subtitle {
  text-align: center;
}
#pricing-table2-15 .mbr-plan-header,
#pricing-table2-15 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-15 ul,
#pricing-table2-15 .mbr-plan-title,
#pricing-table2-15 .mbr-price-value,
#pricing-table2-15 .mbr-price-figure,
#pricing-table2-15 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-15 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-15 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-15 .mbr-section__container .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
#pricing-table2-15 .mbr-section__container .mbr-section-subtitle {
  text-align: left;
  color: #ffffff;
}
#pricing-table2-15 .mbr-plan-title {
  font-size: 30px;
}
#pricing-table2-15 .mbr-price-figure {
  font-size: 25px;
}
#pricing-table2-15 .mbr-price-term {
  font-size: 20px;
}
#pricing-table2-15 .btn {
  font-size: 13px;
}
#form1-13 .form-control-label {
  color: #232323;
}
#form1-13 .btn {
  font-size: 13px;
}
#buttons1-16 .btn {
  font-size: 13px;
}
